.axis--x g.tick text {
  transform: rotate(320deg) translate(-45px, -5px);
}

#barchart::after {
  display: block;
  clear: both;
  content: '';
}

.tooltipBar {
  position: absolute;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

rect:hover {
  fill: rgb(235, 234, 104);
}