.category {
  width: 30%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
}

.active {
  font-weight: bold;
}

.navBtn {
  background-color: white;
  border: none;
}