.category, .slider-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

.category {
  width: 25%;
  cursor: pointer;
}

.category.active {
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
}

.slider-button {
  width: 12%;
}

.active {
  font-weight: bold;
}

.navBtn {
  background-color: white;
  border: none;
}

